h2 {
  text-align: center;
  font-size: 2.25em;
  padding: 1em;
  padding-top: 1em;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  color: rgb(197, 181, 170);
}

h2:after {
  margin-top: .75em;
  content: "";
  display: block;
  border: .02em solid rgb(110, 110, 110);
}

.president {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  list-style-type: none;
  text-align: center;
  padding-bottom: 3em;
  color:rgb(211, 195, 184);
}

.president a {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color: rgb(211, 195, 184);
  transition-duration: 525ms;
}

.president a:hover {
  color: #12727D;
  cursor: pointer;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.10, 1.10);
}

.name-title {
 font-size: 1.5em;
 color: #3e858d;
 font-family: 'Lora', sans-serif;
}

.member-name {
  font-size: 1.12em;
  color: #ba895f;
  padding-bottom: .50em;
  font-family: 'Playfair Display', sans-serif;
}

.members {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: rgb(188, 173, 163);
  padding-bottom: 2.5em;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
}

.member {
  list-style-type: none;
}

.member a {
  text-decoration: none;
  color: rgb(188, 173, 163);
  transition-duration: 525ms;
}

.member a:hover {
  color: #3e858d;
}

.other {
  font-size: 1.45em;
  color: rgb(198, 196, 196);
  font-family: 'Lora', sans-serif;
  text-decoration: underline;
  padding: 1em;
}