.trustees {
  text-align: center;
  font-size: 2.25em;
  padding: 1em;
  padding-top: 1em;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  color: rgb(197, 181, 170);
}

.trustees:after {
  margin-top: .75em;
  content: "";
  display: block;
  border: .02em solid rgb(110, 110, 110);
}

.president {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  list-style-type: none;
  text-align: center;
  padding-bottom: 3em;
  color:rgb(211, 195, 184);
}

.president a {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color: rgb(211, 195, 184);
  transition-duration: 525ms;
}

.president a:hover {
  color: #12727D;
  cursor: pointer;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.10, 1.10);
}

.name-title {
 font-size: 1.5em;
 color: #3e858d;
 font-family: 'Lora', sans-serif;
}

.members {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: rgb(188, 173, 163);
  padding-bottom: 2.5em;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
}

.member-info {
  display: block;
  align-items: left;
  justify-content: space-between;
}

.member-name {
  margin-left: 1.5em;
  font-size: 1.12em;
  color: #ba895f;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 100;
}

.member-name-two {
  color: #8ab8bd;
  font-size: 1.12em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 100;
  text-align: center;
}

.member {
  font-size: .85em;
  margin-right: 1em;
  padding-right: 1.75em;
  padding-top: .75em;
  padding-bottom: .75em;
  list-style-type: none;
  border: .10em solid rgb(131, 120, 111);
  background-color: #9d81684a;
}

.member a {
  text-decoration: none;
  color: rgb(188, 173, 163);
  transition-duration: 525ms;
}

.member a:hover {
  color: #3e858d;
}

.other {
  font-size: 1.45em;
  font-weight: 100;
  color: rgb(198, 196, 196);
  font-family: 'Lora', sans-serif;
}

.other:after {
  margin-top: .25em;
  content: "";
  display: block;
  border: .02em solid rgb(110, 110, 110);
}

.advisors {
  display: block;
  text-align: center;
}