.home-title {
  font-size: 2em;
  margin-left: 1em;
  margin-top: 2.75em;
  padding: 1em;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  color: #8ab8bd;
  text-shadow: .10em .10em .15em rgb(43, 25, 10);
}

.home-title:after {
  margin-top: .75em;
  content: "";
  display: block;
  border: .02em solid rgb(126, 130, 132);
}

.agenda-button a {
  text-decoration: none;
  color: white;
}

.agenda-button {
  font-size: .90em;
  padding: .60em;
  background-color: #6d969a;
  border: none;
  border-radius: .50em;
  font-family: 'Lora', sans-serif;
  transition: transform 0.65s;
}

.agenda-button:hover {
  cursor: pointer;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.10, 1.10);
  background-color: #85aaad;
}

 .agenda-button:hover {
  box-shadow: .001em .10em 3em #1f6c79;
} 

.agenda {
  text-align: center;
}

.agenda-print {
  text-decoration: underline;
  color: #6d969a;
  font-family: "Montserrat", sans-serif;
}

.agenda-print:hover {
  color: white;
  cursor: pointer;
}

.meeting-info {
  color: rgb(226, 225, 225);
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
}