h1 {
  font-size: 2em;
  margin-left: 1em;
  margin-top: 2.75em;
  padding: 1em;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  color: rgb(197, 181, 170);
}

h1:after {
  margin-top: .75em;
  content: "";
  display: block;
  border: .02em solid rgb(110, 110, 110);
}

.applications {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}

.application {
  display: block;
  padding: 1em;
  text-align: center;
  color: rgb(233, 219, 193);
  border: .10em solid rgb(92, 84, 77);
  border-radius: .50em;
}

.application p {
  font-size: 1em;
  padding: .25em;
  font-family: 'Lora', sans-serif;
}

.application button, .agenda-button {
  padding: .5em;
  border-radius: .50em;
  background-color: rgb(161, 130, 104);
  color:rgb(206, 205, 203);
  border-color: rgb(203, 203, 203);
  font-family: 'Lora', sans-serif;
  text-decoration: none;
  transition: transform 0.65s;
}

.application button:hover {
  cursor: pointer;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.10, 1.10);
}

.agenda-button:hover {
  cursor: pointer;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.10, 1.10);
  box-shadow: .001em .10em 2em rgb(101, 90, 83);
}

.agenda {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button a {
  text-decoration: none;
  color: white;
}

.meeting-info {
  color: rgb(226, 225, 225);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
  padding-bottom: 1em;
}