.home-title {
  font-size: 2em;
  margin-left: 1em;
  margin-top: 2.75em;
  padding: 1em;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  color: #8ab8bd;
}

.home-title:after {
  margin-top: .75em;
  content: "";
  display: block;
  border: .02em solid rgb(126, 130, 132);
}

.applications {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}

.application {
  padding: 1.25em;
  padding-right: 2.5em;
  text-align: left;
  color: rgb(233, 219, 193);
  border: .10em solid #a1c9cea7;
  position: relative;
  background-color: #467d8670;
}

.application-name-sm {
  text-align: center;
  font-size: 1.25em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  background-color:#e1c2a8 ;
  padding: .50em;
  color: rgb(66, 43, 10);
  position: absolute;
  top: -2em;
  right: 1.30em;
}

.application-name-lg {
  text-align: center;
  font-size: 1.25em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  background-color:#e1c2a8 ;
  padding: .50em;
  color: rgb(66, 43, 10);
  position: absolute;
  top: -3.25em;
  right: .25em;
}

.application-info {
  font-family:'Montserrat', sans-serif;
}

.application button, .agenda-button {
  font-size: .90em;
  padding: .60em;
  background-color: #6d969a;
  color:rgb(206, 205, 203);
  border: none;
  border-radius: .50em;
  font-family: 'Lora', sans-serif;
  text-decoration: none;
  transition: transform 0.65s;
}

.application button:hover {
  cursor: pointer;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.10, 1.10);
  background-color: #85aaad;
}

.agenda-button:hover {
  cursor: pointer;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.10, 1.10);
  box-shadow: .001em .10em 3em #1f6c79;
}

.agenda {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button a {
  text-decoration: none;
  color: white;
}

.meeting-info {
  color: rgb(226, 225, 225);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
  padding-bottom: 1em;
}